<h1 id="tocheading">Table of Contents</h1>
<div id="toc"></div>

# Imports
Modules that help you to donwload stock

In [1]:
from tehran_stocks import Stocks, db

In [2]:
%%javascript
//for table of content
$.getScript('https://kmahelona.github.io/ipython_notebook_goodies/ipython_notebook_toc.js')

## Find a specefic stock

In [3]:
stock_by_symbol = Stocks.query.filter_by(name='كگل').first() #find by symbol(نماد)
stock_by_title = Stocks.query.filter(Stocks.title.like('%گل گهر%')).first() # Search by title
stock_by_symbol == stock_by_title

True

# List stocks in a group and call them

In [4]:
stock_list_felez = Stocks.query.filter_by(group_code =34).all() # find all Stocks in Khodro
stock_list_felez_and_khodro = Stocks.query.filter(Stocks.group_code.in_([13,34])).all() # all stocks in khodro and felezat

# Advance query

In [5]:

db.session.query(Stocks.group_code, Stocks.group_name).group_by(Stocks.group_code).all()


db.session.execute('select group_code , group_name from stocks group by group_name limit 4').fetchall()

[(33, 'ابزارپزشکي، اپتيکي و اندازه\u200cگيري'),
 (10, 'استخراج زغال سنگ'),
 (14, 'استخراج ساير معادن'),
 (11, 'استخراج نفت گاز و خدمات جنبي جز اکتشاف')]

In [6]:
# You can check existing tables and thier columns

In [7]:


q = "SELECT name FROM sqlite_master WHERE type='table'"
print('tables:',  db.session.execute(q).fetchall())
print('stocks colums:', db.session.execute('PRAGMA table_info([stocks]);').fetchall())

tables: [('stock_price',), ('stocks',)]
stocks colums: [(0, 'id', 'INTEGER', 1, None, 1), (1, 'name', 'VARCHAR', 0, None, 0), (2, 'title', 'VARCHAR', 0, None, 0), (3, 'group_name', 'VARCHAR', 0, None, 0), (4, 'group_code', 'INTEGER', 0, None, 0), (5, 'instId', 'VARCHAR', 0, None, 0), (6, 'insCode', 'VARCHAR', 0, None, 0), (7, 'code', 'VARCHAR', 0, None, 0), (8, 'sectorPe', 'FLOAT', 0, None, 0), (9, 'shareCount', 'FLOAT', 0, None, 0), (10, 'estimatedEps', 'FLOAT', 0, None, 0), (11, 'baseVol', 'FLOAT', 0, None, 0)]

# Read Data

In [8]:
stock_by_symbol.df.head(2)

,id,code,ticker,dtyyyymmdd,first,high,low,close,value,vol,openint,per,open,last,date
0,135505,35700344742885862,Gol-E-Gohar.,20040829,12000.0,12021.0,12000.0,12000.0,18841605000,1570000,2708,D,12000.0,12000.0,2004-08-29
1,135504,35700344742885862,Gol-E-Gohar.,20040904,12600.0,12600.0,12600.0,12600.0,12600000000,1000000,849,D,12000.0,12600.0,2004-09-04